@gray: #C3C3C3;
/*
body {
    overflow:hidden;
}

.content, .sidebar {
    overflow:auto;
}
*/

.navbar-search {
    margin-top: 3px;
}

.navbar-fixed-top .navbar-inner {
    /*background-color: @gray;*/
}

.container-fluid {
    padding: 0;
}

@sidebar-width:240px;
.container-fluid .sidebar {
    position: relative;
    top: 0;
    left: auto;
    width: @sidebar-width - 20px;
}

.container-fluid .content.well {
    background: white;
}

.left {
    float: left;
}

.right {
    float: right;
}

.fixed-fluid {
    margin-left: @sidebar-width;
}

.fluid-fixed {
    margin-right: @sidebar-width;
    margin-left:auto !important;
}

.fixed-fixed {
    margin: 0 @sidebar-width;
}

.main-doc {
    h1 {
        text-align: center;
    }
}
