body{
background-color:#f3f3f3;
font-family: "Times New Roman";
color: #0000000;/*#373737;*/
font-size:14pt;
}
.wrapper a
{
	text-decoration: none;
	color: #d0001d;
}
.wrapper
{
width: 700px;
margin-left:auto;
margin-right:auto;
margin-top: 0px;
font-weight: 300;
}
.title
{
display:block;
background-image:url('media/title.png');
background-position: top center;
background-repeat: no-repeat;
/*background-color: #3faae1;*/
width: 700px;
height: 170px;
top:0px;
}
.contentBox
{
width: 700px;
margin-bottom:20px;
}
.textTitle
{
font-size:34pt;
margin-bottom:5px;
color: #00396f;
}
.textBody
{
}
