{% extends "base.html" %}

{% block toolbar %}
  {% include "toolbar.html" %}
{% endblock %}

{% block body %}
  <div class="row-fluid">
    <div class="span3">
      <div class="sidebar left well">
        <div id="left-pane"></div>
      </div>
    </div>
    <div class="span6">
      <div class="content well">
        <div id="main-pane"></div>
      </div>
    </div>
    <div class="span3">
      <div class="sidebar right well">
        <div id="right-pane"></div>
      </div>
    </div>
  </div>

{% endblock %}

{% block scripts %}
  <script src="{{STATIC_URL}}js/app.js"></script>
  {% block start_app %}
  {% endblock %}
{% endblock %}
