<div class="navbar navbar-fixed-top" id="top-toolbar">
  <div class="navbar-inner">
    <div class="container">
      <ul class="nav">
        <a class="brand" href="#">contexture</a>
        <li>
          <a href="#">Account</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> File <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="open_workspace">Open Workspace</a></li>
            <li><a class="save_workspace">Save Workspace</a></li>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown"> View <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a class="view_settings">Settings</a></li>
          </ul>
        </li>
        <li>
          <a class="nav-back">&lt; Back</a>
        </li>
        <li>
          <a class="nav-forward">Forward &gt;</a>
        </li>
      </ul>
      <ul class="nav pull-right">
        <li>
          <form class="navbar-search search">
            <input type="text" class="search-query" placeholder="Search...">
          </form>
        </li>
      </ul>
    </div>
  </div>
</div>
